<link rel="stylesheet" href="/css/all.css">
<link rel="stylesheet" href="/css/boot4.css">
<link rel="stylesheet" href="/css/style.css">

<script src="/js/all.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/popper1.160.min.js"></script>
<script src="/js/bootstrap4.js"></script>
<title>First Learn</title>